:root {
  --main-color: #252648;
  --font-color: #c4c7e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
}

.TodoListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38rem;
  height: 100%;
  background-color: var(--main-color);
}

.TodoListContainer h1 {
  margin: 3rem 0 3rem 0;
  font-size: 3.6rem;
  color: #ffd76c;
}
