@import url('./Global.css');

.TodoSearch-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 28rem;
  margin: 3rem 0 4rem;
}
.TodoSearch {
  height: 4rem;
  width: 64%;
  margin-left: 2rem;
  padding-left: 2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--font-color);
  outline: none;
  color: var(--main-color);
}

.TodoSearch::placeholder {
  color: var(--main-color);
}
