@import './Global.css';

.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: #2d325a;
  color: var(--font-color);
}

.TodoItem:hover {
  scale: 1.08;
  transition: all ease 0.8s;
}

.TodoItemButton img {
  width: 2.4rem;
}
